// Font
$font-heading: 'Montserrat', sans-serif;
$font-body: 'Opens sans', sans-serif;


$font-lg: 1.25rem;
$font-xl: 1.75rem;
$font-2xl: 2.25rem;
$font-3xl: 3rem;
$font-md: 1rem;

$font-weightBold: 700;


// Color
$color-backgroundPage: #E6E6E6;
$color-backgroundHoverButton: #FFDA6A;
$color-text: #E6E6E6;
$color-textInverse: #1A1A1A;
$color-textPlaceholder: #696969;
$color-textPlaceholderInverse: #cdcdcd;
$color-primary: #FFC107;
$color-backgroundContainerDark: #1A1A1A;
$color-backgroundContainerLight: #4F4F4F;
$color-border: #1A1A1A;

// Border
$border-radiusM: 8px;
$border-radiusL: 16px;